<%- if controller_name != 'sessions' %>
  <div class="mb-2 d-block">
  <%= link_to "Iniciar Sesión", new_session_path(resource_name), class: "mb-2" %>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="mb-2 d-block">
    <%= link_to "Registrate", new_registration_path(resource_name) %>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="mb-2 d-block">
    <%= link_to "¿Olvidaste la contraseña?", new_password_path(resource_name), class: "mb-2" %>
  </div>
<% end %>
