.events-search-box {
  padding: 31px;
  background: #fff;
  border: 1px solid #c5c7cb;
  border-radius: 14px;
  margin: 35px 0;
}

.table-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


