.container-fluid {
  padding: 0;
}

.img-fluid {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group em, 
.form-group i {
  color: #0069f09e;
  font-size: 12px
}
