.container-fluid {
  padding: 0;
}

.img-fluid {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.main-not-signed-content {
  flex: 1;
  margin-left: 0;
  
  .container-fluid {
    height: 91vh !important;
  }

  .flash-message {
    top: 83px;
    left: 75%;
  }
}
