<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>Reset Password Instructions</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .email-container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header {
      background-color: #007bff;
      color: #ffffff;
      padding: 10px 0;
      text-align: center;
      border-radius: 8px 8px 0 0;
    }
    .content {
      padding: 20px;
    }
    .button {
      display: inline-block;
      background-color: #007bff;
      color: #ffffff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      margin: 20px 0;
    }
    .footer {
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      color: #777777;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <div class="header">
      <h1>Cambiar Contraseña</h1>
    </div>
    <div class="content">
      <p>Hola <%= @resource.email %>!</p>
      <p>Alguien ha solicitado un enlace para cambiar tu contraseña. Puedes hacerlo a través del siguiente enlace:</p>
      <p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token), class: 'button' %></p>
      <p>Si no solicitaste esto, por favor ignora este correo electrónico.</p>
      <p>Tu contraseña no cambiará hasta que accedas al enlace anterior y crees una nueva.</p>
    </div>
    <div class="footer">
      <p>&copy; <%= Time.now.year %> Your Company. Todos los derechos reservados.</p>
    </div>
  </div>
</body>
</html>
