<% flash.each do |key, value| %>
  <div class="flash-message alert alert-<%= key == "notice" ? "success" : "danger" %> alert-dismissible fade show p-1" role="alert">
    <%= value %>
  </div>
<% end %>
